<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>致行——社区</title>
    <script src="http://how2j.cn/study/jquery.min.js"></script>
    <script src="http://how2j.cn/study/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/source/animate.min.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/general.css"/>
	<link rel="stylesheet" type="text/css" href="../css/login-component.css"/>
	<link rel="stylesheet" type="text/css" href="../css/header.css"/>
	<link rel="stylesheet" type="text/css" href="../css/community.css"/>
</head>
<body>
	<div id="app">
		<div id="header">
			<!-- 登陆组件 -->
			<login-component></login-component>
		</div>
		<script src="../js/vue-js/login_component-vue.js" type="text/javascript" charset="utf-8"></script>
		<hr>
		<div class="main animated fadeInLeftBig">
			<div class="left-part">
				<div class="edit-part">
					<div class="edit-preview">
						<div class="edit-cont">
							<textarea id="content" name="content" v-model="text_content"></textarea>
							<label for="pictures" class="uploadPic">
								<input id="pictures" type="file" name="pictures" accept="image/*" multiple="multiple" class="hidden" @change="files_change">
								<img src="../img/uploadPic.png" />
							</label>
						</div>
						<div class="previewImg" :style="previewImg_style">
							<div class="img-block" v-for="(src,index) in img_src">
								<div class="img-close" title="移除图片" @click="delPic(index)">
									<span>X</span>
								</div>
								<img :src="src"/>
							</div>
						</div>
					</div>
					<div class="publish-part">
						<button class="publish-btn btn-primary" id="submit" type="button" @click="publishBlog">发布</button>
					</div>
					<hr />
				</div>
				<div id="blogList">
					<img src="../img/loading1.gif" class="loadingGIF" v-show="showLoading">
					<div v-if="blogs.length > 0">
						<div class="blog-block" v-for="(blog,i) in blogs">
							<div class="blog-author">
								<div class="author-avatar">
									<img :src="blog.avatar"/>
								</div>
								<span>{{blog.author}}</span>
							</div>
							<div class="blog-content">
								<p v-html="blog.content"></p>
								<div v-for="picture in blog.pictures" class="blog-pictures">
									<img :src="picture.url"/>
								</div>
								<div class="blog-info">
									<span class="time-font">[{{blog.publishTime}}]</span>
									<a :href="'blog.html?id='+blog.id" class="minor-font">评论({{blog.commentCount}})</a>
									<a href="javascript:void(0)" @click="doFavour(blog.id,i)" class="minor-font">赞({{blog.favourCount}})</a>
								</div>
							</div>
						</div>
						<img src="../img/loading1.gif" class="loadingGIF" v-show="loadMoreLoadingPIC"/>
						<div class="loadMore">
							<button class="btn btn-default" @click="loadMore">加载更多</button>
						</div>
					</div> 
					<div v-else style="text-align: center;">
						<h3 style="font-weight: 200;">暂无动态……</h3>
					</div>
					<hr>
				</div>
			</div>
			<div class="right_part">
				<div id="userInfo">
					<div v-if="status == 1">
						<a href="center.html"><img width="80px" height="80px" :src="user.avatar"/></a><br>
						<hr />
						账号：{{user.username}}<br>
						昵称：{{user.nickname}}<br>
					</div>
					<div v-else style="text-align: center;">
						<b>您还未登录，请先登录!</b>
					</div> 
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../js/community.js" type="text/javascript" charset="utf-8"></script>
</html>