<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>致行——社区</title>
    <script src="http://how2j.cn/study/jquery.min.js"></script>
    <script src="http://how2j.cn/study/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/source/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/general.css"/>
	<link rel="stylesheet" type="text/css" href="../css/login-component.css"/>
	<link rel="stylesheet" type="text/css" href="../css/header.css"/>
	<link rel="stylesheet" type="text/css" href="../css/source/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/community.css"/>
</head>
<body>
	<div id="app">
		<div id="header">
			<!-- 登陆组件 -->
			<login-component></login-component>
		</div>
		<script src="../js/vue-js/login_component-vue.js" type="text/javascript" charset="utf-8"></script>
		<hr>
		<div class="main animated fadeInLeftBig">
			<div class="left-part">
				<div class="edit-part">
					<div class="edit-preview">
						<div class="edit-cont">
							<textarea id="content" name="content" v-model="text_content"></textarea>
							<label for="pictures" class="uploadPic">
								<input id="pictures" type="file" name="pictures" accept="image/*" multiple="multiple" class="hidden" @change="files_change">
								<img src="../img/uploadPic.png" />
							</label>
						</div>
						<div class="previewImg" :style="previewImg_style">
							<div class="img-block" v-for="(src,index) in img_src">
								<div class="img-close" title="移除图片" @click="delPic(index)">
									<span>X</span>
								</div>
								<img :src="src"/>
							</div>
						</div>
					</div>
					<div class="publish-part">
						<button class="publish-btn btn-primary" id="submit" type="button" @click="publishBlog">发布</button>
					</div>
					<hr />
				</div>
				<div id="blogList">
					<img src="../img/loading1.gif" class="loadingGIF" v-show="showLoading">
					<div v-if="blogs.length > 0">
						<div class="blog-block" v-for="(blog,i) in blogs">
							<div class="blog-author">
								<div class="author-avatar">
									<img :src="blog.avatar" width="80px" />
								</div>
								<span>{{blog.author}}</span>
							</div>
							<div class="blog-content">
								<p v-html="blog.content"></p>
								<div v-for="picture in blog.pictures" class="blog-pictures">
									<img width="500px" v-bind:src="picture.url"/>
								</div>
								<div class="blog-info">
									<span class="time-font">[{{blog.publishTime}}]</span>
									<a v-bind:href="'blog.html?id='+blog.id" class="minor-font">评论({{blog.commentCount}})</a>&nbsp;&nbsp;
									<a href="javascript:void(0)" @click="doFavour(blog.id,i)" class="minor-font">赞({{blog.favourCount}})</a>
								</div>
							</div>
						</div>
					</div> 
					<div v-else style="text-align: center;">
						<h3 style="font-weight: 200;">暂无动态……</h3>
					</div>
					<hr>
				</div>
			</div>
			<div class="right_part">
				<div id="userInfo">
					<div v-if="status == 1">
						<a href="center.html"><img width="80px" height="80px" v-bind:src="user.avatar"/></a><br>
						<hr />
						账号：{{user.username}}<br>
						昵称：{{user.nickname}}<br>
					</div>
					<div v-else style="text-align: center;">
						<b>您还未登录，请先登录!</b>
					</div> 
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	new Vue({
		el:'.left-part',
		data:{
			img_src:[],
			img_files:[],
			previewImg_style:null,//图片预览区域是否显示
			text_content:'',
			blogs:[],
			showLoading:true
		},
		created() {
			this.getBlogList()
		},
		methods:{
			/*****头像预览*****/
			// 删除图片
			delPic:function(index){
				this.img_files.splice(index,1)
				this.update_imgSrc()
				if(this.img_files.length > 0){
					this.previewImg_style = {display:"flex"}
				}else{
					this.previewImg_style = null
				}
			},
			//上传图片
			files_change:function(){
				var files = document.getElementById('pictures').files
				for(var i = 0;i < files.length;i++){
					this.img_files.push(files[i])
				}
				this.update_imgSrc()
				if(this.img_files.length > 0){
					this.previewImg_style = {display:"flex"}
				}else{
					this.previewImg_style = null
				}
			},
			// 依据图片文件数组更新图片预览路径数组
			update_imgSrc:function(){
				this.img_src.splice(0,this.img_src.length)//清空原来的图片预览路径数组
				for(var i = 0;i < this.img_files.length;i++){
					this.img_src.push(this.getObjectURL(this.img_files[i]))
				}
			},
			//建立一个可存取到该file的url
			getObjectURL:function(file) {
				var url = null ;
				if (window.createObjectURL!=undefined) { // basic
					url = window.createObjectURL(file) ;
				} else if (window.URL!=undefined) { // mozilla(firefox)
					url = window.URL.createObjectURL(file) ;
				} else if (window.webkitURL!=undefined) { // webkit or chrome
					url = window.webkitURL.createObjectURL(file) ;
				}
				return url ;
			},
			/*****头像预览-end*****/
			publishBlog:function() {
				var files = this.img_files;
			    var content = this.text_content;
				var formData = new FormData();
				
				// 逐一上传图片
				var callBackTime = 0
				for(var i = 0;i < files.length;i++){
					var fData = new FormData();
					fData.append("file",files[i])
					axios({
						method:"post",
						url:"http://114.116.77.118:8888/file/upPicture",
						dataType:"json",
						data: fData,
						cache: false,
						processData: false,
						contentType: false,
						withCredentials: true
					}).then(function(result){
						if(result.data.status == 1){
							callBackTime++
							formData.append("picUrls",result.data.data)
							if(callBackTime == files.length){
								formData.append("content", content);
								axios({
									method:"post",
								    url: "http://114.116.77.118:8888/blog/publish",
								    data: formData,
								    dataType:"json",
								    cache: false,
								    processData: false,
								    contentType: false,
									withCredentials: true
								}).then(function(result){
									if (result.data.status == 1) {
										window.location.reload();
									} else {
										alert(result.data.message);
									}
								}).catch(function (error) {
									alert("发布失败");
								})
							}
						}else{
							alert(result.data.message)
						}
					}).catch(function(error){
						alert(error)
					})
				}
				if(files.length == 0){
					formData.append("content", content);
					axios({
						method:"post",
					    url: "http://114.116.77.118:8888/blog/publish",
					    data: formData,
					    dataType:"json",
					    cache: false,
					    processData: false,
					    contentType: false,
						withCredentials: true
					}).then(function(result){
						if (result.data.status == 1) {
							window.location.reload();
						} else {
							alert(result.data.message);
						}
					}).catch(function (error) {
						alert("发布失败");
					})
				}
			},
			doFavour:function (bid,i) {
				var _this = this
			    var data = {"bid": bid};
			    axios({
					method:"get",
			        url: "http://114.116.77.118:8888/favour/doFavour",
			        params: data,
			        dataType:"json",
					withCredentials: true ,// 这里设置了withCredentials
				}).then(function (result) {
					if (result.data.status == 1) {
						_this.blogs[i].favourCount++
					} else {
						alert(result.data.message);
					}
				}).catch(function (error) {
					alert("点赞失败。");
				})
			},
			getBlogList:function () {
				var _this = this
			    axios({
					method:"get",
			        url:"http://114.116.77.118:8888/blog/listAll",
			        datatype:"json",
				}).then(function (result) {
					_this.showLoading = false
					if(result.data.status == 1){
						_this.blogs = result.data.data
						var reg = new RegExp("\n|\r\n", "g");//g,表示全部替换
						for(var j = 0;j < _this.blogs.length;j++){
							_this.blogs[j].content = _this.blogs[j].content.replace(reg, "<br/>");
							_this.blogs[j].content = _this.blogs[j].content.replace(/\s/g, "&nbsp;");
						}
					}else{
						alert(result.data.message)
					}
				}).catch(function (error) {
					alert(error);
				})
			}
		}
	})
	$(function () {
	    getLoginUser();
	})
	function getLoginUser() {
	    $.ajax({
	        url:"http://114.116.77.118:8888/user/getLoginUser",
	        type:"get",
	        datatype:"json",
			xhrFields: {
				withCredentials: true // 这里设置了withCredentials
			},
	        success:function (result) {
	            new Vue({
	                el: "#userInfo",
	                data: {
	                    status: result.status,
	                    user: result.data
	                }
	            })
	        }
	    })
	}
</script> 
</html>