*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
li{
	list-style-type: none;
}
@media (max-width:767px) {
	#app{
		max-width: 1342px;
		margin: 0 auto;
	}
}
@media (min-width:767px) {
	#app{
		max-width: 1342px;
		margin: 0 auto;
		margin-bottom: 100px;
	}
}
.photoMiddle{
	vertical-align: middle;
}
.hidden {
	display: none;
}
.loadingGIF{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.siggleText{
	/* 超过长度限制以省略号显示 */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.twoLineText{
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /*行数*/
}