@media (min-width:767px) {
	#itemDetails{
		margin-top: 50px;
		width: 100%;
		height: 900px;
		position: relative;
		
		margin-bottom: 50px;
	}
	.left-part{
		width: 460px;
		position: absolute;
		left: 60px;
	}
	.item-img{
		width: 100%;
		height: 300px;
	}
	.join-list{
		width: 100%;
	}
	h4{
		margin-top: 20px;
	}
	.list-item{
		width: 100%;
		height: 510px;
		background-color: #FFFFFF;
		box-shadow: 0px 0px 10px #DDDDDD;
		
		margin-top: 20px;
		padding-top: 5px;
		
		overflow-y:auto;
	}
	.list-item li {
		width: 100%;
		height: 50px;
		margin-top: 10px;
	}
	.candidate-info{
		width: 360px;
		height: 50px;
		line-height: 50px;
		float: right;
		margin-right: 50px;
		font-size: 16px;
		
		border-bottom: 1px solid #000000;
		cursor: pointer;
	}
	.candidate-info img{
		width: 30px;
		height: 30px;
		display: inline-block;
		float: left;
		margin-top: 10px;
		border-radius: 50%;
	}
	.list-item li:hover{
		color: #000000;
		font-weight: 600;
	}
	.selectedCandidate:before{
		content: url(../img/11573cd595c3aac.jpg!r650.jpg);
		display: inline-block;
		width: 30px;
		height: 30px;
		
		margin-top: 10px;
		margin-left: 10px;
	}
	.user-name{
		float: left;
		width: 40%;
		margin-left: 5px;
		/* 超过长度限制以省略号显示 */
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.join-time{
		float: right;
	}
	.item-info{
		width: 730px;
		position: absolute;
		right: 60px;
	}
	.infomation{
		width: 100%;
		height: 300px;
		padding: 30px 30px 30px 30px;
		box-shadow: 0px 0px 5px #DDDDDD;
	}
	.infomation h3{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.infomation p{
		font-size: 16px;
		font-weight: 550;
	}
	.infomation button{
		margin-top: 20px;
		font-size: 16px;
	}
	.item-detail{
		width: 100%;
	}
	.details{
		width: 100%;
		height: 510px;
		background-color: #FFFFFF;
		box-shadow: 0px 0px 10px #DDDDDD;
		font-size: 16px;
		overflow-y:auto;
		margin-top: 20px;
		padding: 30px 40px 30px 40px;
	}
}
@media (max-width:767px) {
	#itemDetails{
		margin-top: 100px;
		width: 100%;
		
		margin-bottom: 50px;
	}
	.left-part{
		width: 96%;
		margin: 0 auto;
	}
	.item-img{
		display: none;
	}
	.join-list{
		width: 100%;
	}
	h4{
		margin-top: 20px;
	}
	.list-item{
		width: 100%;
		background-color: #FFFFFF;
		box-shadow: 0px 0px 10px #DDDDDD;
		
		margin-top: 20px;
		padding-top: 5px;
		
		overflow-y:auto;
	}
	.list-item li {
		width: 100%;
		height: 50px;
		margin-top: 10px;
	}
	.selectedImg{
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-top: 10px;
		margin-left: 2%;
	}
	.candidate-info{
		display: inline-block;
		width: 85%;
		height: 100%;
		line-height: 50px;
		font-size: 16px;
		margin-right: 3%;
		float: right;
		
		border-bottom: 1px solid #000000;
		cursor: pointer;
	}
	.candidate-info img{
		width: 30px;
		height: 30px;
		display: inline-block;
		float: left;
		margin-top: 10px;
		border-radius: 50%;
	}
	.list-item li:hover{
		color: #000000;
		font-weight: 600;
	}
	.user-name{
		float: left;
		width: 30%;
		margin-left: 5px;
		/* 超过长度限制以省略号显示 */
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.join-time{
		float: right;
	}
	.item-info{
		width: 96%;
		margin: 0 auto;
	}
	.infomation{
		width: 100%;
	}
	.infomation h3{
		margin-bottom: 20px;
	}
	.infomation p{
		font-size: 16px;
		font-weight: 550;
	}
	.infomation button{
		width: 100%;
		margin-top: 10px;
		font-size: 18px;
	}
	.item-detail{
		width: 100%;
	}
	.details{
		width: 100%;
		background-color: #FFFFFF;
		box-shadow: 0px 0px 10px #DDDDDD;
		overflow-y:auto;
		margin-top: 20px;
		font-size: 16px;
		padding: 20px 20px 20px 20px;
	}
}